body {
  background: #190938;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  color: #fff;
  height: 100%;
  overflow: hidden;
}

#heroes {
  margin:0 auto;
  max-width:720px;
}

/* Title */

#title {
  margin-top:20px;
  text-align:center;
  height:100px;
}

/* Hero card */

.hero {
  width:33%;
  display:block;
  float:left;
}

.hero-card{
  max-width:125px;
  margin: 0 auto;
  cursor: pointer;
  text-align:left;
  font-size:18px;
  /*https://cssgradient.io/*/
  background:linear-gradient(180deg, rgba(74,76,124,1) 0%, rgba(74,76,124,1) 35%, rgba(243,0,255,0) 100%);
  position:relative;
}

.hero-portrait {
  width:100%;
  position:relative;
  margin-bottom:15px;
  transition:.3s;
}

.hero-portrait img {
  /*https://www.cssmatic.com/box-shadow*/
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  display: block;
}

.hero-name, .hero-type {
  padding:5px;
  text-shadow: 1px 2px 5px rgba(7,132,178,1);
}

.hero-name {
  margin-bottom:25px;
}

.hero-portrait img{
  margin: 0 auto;
  width:100%;
}

.star-anim{
  display:none;
  position: absolute;
  top: -23%;
  pointer-events: none;
}

.star-anim object{
  width:100%;
  height:100%;
}

/* Anim */

/* selected anim */
.hero-card.selected .hero-portrait {
  background:#fff;
}

.hero-card.unselected .hero-portrait {
  background:#000;
}

.hero-card.selected img {
  transition: opacity 0.4s;
  opacity: 0
}

.hero-card.unselected img {
  transition: opacity 0.4s;
  opacity: 0
}

.hero-card.selected, .hero-card.unselected {
  transition: opacity .5s;
  opacity: 0
}

/* pop in */
.hero-card {
  animation: pop-in .5s ease-out;
}

.hero-card:hover .hero-portrait{
  width:110%;
  height:110%;
  margin-left: -5%;
  z-index:10;
}

.hero-card:hover .star-anim{
  display:block;
}

@keyframes pop-in{
  from {
    opacity:0;
    top:300px;
  }
  to {
    opacity:1;
    top:0px;
  }
}

