body {
  background: #190938;
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  color: #fff;
}

/* Title */

#title {
  text-align:center;
  height:100px;
}

/* Hero card */

.hero {
  width:33%;
  display:block;
  float:left;
}

.hero-card{
  max-width:125px;
  margin: 0 auto;
  cursor: pointer;
  text-align:center;
}


.hero-portrait {
  width:100%;
  max-height:125px;
  position:relative;
}

.hero-portrait img{
  margin: 0 auto;
  width:90%;
  height:90%;
  transition:.3s;
}

.star-anim{
  display:none;
  position: absolute;
  top: -23%;
  pointer-events: none;
}

.star-anim object{
  width:100%;
  height:100%;
}

/* Anim */

.hero-card:hover .hero-portrait img{
  width:100%;
  height:100%;
}

.hero-card:hover .star-anim{
  display:block;
}
